<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
  #
</style>
<div class="view">
    <div class="container">
        <div class="row">
            <nav class= "navbar navbar-default hidden-xs" role="navigation">
                <div class="navbar-header" style="padding:5px" >
                    <a class= "navbar-brand" href= "/dbpm/#/buildings"><i class="glyphicon glyphicon-th-large"></i> Buildings List </a>
                    <a ng-show="building._id" class= "navbar-brand hidden" href= "#/edit-building/0"><i class="glyphicon glyphicon-plus"></i> Create Building </a>
                    <a ng-show="building._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Building Number: {{building._id}}</a>
            </nav>
            <header>
                <h4>Unit</h4>
                <div class="col-sm-2 pull-left">
                     <strong style="display:initial">Building:</strong> <br/>
                     <strong style="display:initial">UnitNum:</strong> <br/>
                     <strong style="display:initial">Current Price:</strong> <br/>  
               </div>
                 <div class="col-sm-4 pull-left">
                      <span style="display:initial">&nbsp;{{unit.building}}</span><br/>
                      <span style="display:initial">&nbsp;{{unit.unitnum}}</span><br/>
                      <span style="display:initial">&nbsp;{{unit.price}}</span><br/>                    
               </div>
                <div class="col-sm-2 pull-left">
                     <strong style="display:initial">Type:</strong>   <br/>
                     <strong style="display:initial">Status:</strong> <br/>
               </div>
                <div class="col-sm-4 pull-left">
                      <span>&nbsp;{{unit.type}}</span><br/>
                      <span>&nbsp;{{unit.status}}</span><br/>
                </div>
            </div>
             </header>
                <hr />
                <h5>{{title}}
                <span class="pull-right">
                    <a class="btn-link" href="#/edit-unit/{{building.building_id}}/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new unit</a>
                </span>
                </h5>
             <div class="row">
                <div class="col-md-12" ng-show="units.length > 0">
                    <table class="table table-striped table-bordered">
                    <thead>
                    <th>Unit No.&nbsp;</th>
                    <th>Current Tenent&nbsp;</th>
                    <th>Type&nbsp;</th>
                    <th>Status&nbsp;</th>
                    <th>Price&nbsp;</th>
                    <th>Action&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in units">
                            <td>{{data.unitnum}}</td>
                            <td ng-show="data.tenent"><a href="/dbpm/#/edit-tenent/{{building.building_id}}/{{data.unit_id}}/{{data.tenent_id}}" class="btn btn-link" title="Edit Tenet"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;{{data.tenent}}</a></td>
                            <td ng-hide="data.tenent"><a href="/dbpm/#/edit-tenent/{{building.building_id}}/{{data.unit_id}}/0" class="btn btn-link" title="Add Tenet"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Vacant</a></td>
                            <td>{{data.type}}</td>
                            <td>{{data.status}}</td>
                            <td>{{data.price}}</td>
                            <td><a href="#/edit-unit/{{building.building_id}}/{{data.unit_id}}" class="btn" title="Edit Unit">&nbsp;<i class="glyphicon glyphicon-edit"></i><span class="hidden-xs">&nbsp; Edit Unit</span></a></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-12" ng-show="units.length == 0">
                    <div class="col-md-12">
                        <h4>No units found</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
