<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
            <nav class= "navbar navbar-default  hidden-xs" role= "navigation" >
                <div class= "navbar-header" >
                    <a class= "navbar-brand" href= "/dbpm/#/edit-building-units/{{unit.building_id}}"><i class="glyphicon glyphicon-th-large"></i> Units List </a>
                    <a ng-show="unit._id" class= "navbar-brand" href= "/dbpm/#/edit-unit/{{unit.building_id}}/0"><i class="glyphicon glyphicon-plus"></i> Create Unit </a>
                    <a ng-show="unit._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Unit Number: {{unit._id}}</a>
                </div>
            </nav>
            <div class="col-md-12">
                <div class="clearfix"></div>
                <form role="form" name="myForm" class="form-horizontal">
                    <input type="hidden" ng-model="unit.building_id" name="building_id" id="building_id" />
                    <input type="hidden" ng-model="unit.tenent_id" name="tenent_id" id="tenent_id" />
                    <div class="row">
                        <div  class="form-group" ng-class="{error: myForm.unitnum.$invalid}">
<!-- 
                            <label class= "col-md-2">Unit Num </label>
 -->

                            <label class= "col-md-2"> 
                             <h4 ng-controller="DropdownCtrl">                
                                <span class="dropdown" dropdown on-toggle="toggled(open)">
                                    <a href class="dropdown-toggle" dropdown-toggle>Unit<span class="caret"></span></a>
                                  <ul class="dropdown-menu" ng-init="reverse=true">
                                    <li ng-repeat="choice in unitsList | orderBy:'choice.unitnum' : 'reverse'">
                                      <a ng-click="nextUnit(unit,$event);" href="#/edit-unit/{{unit.building_id}}/{{choice.unit_id}}">{{choice.unitnum}}</a>
                                    </li>
                                  </ul>
                                </span>
                            </h4>
                            </label>
                            <div class="col-md-4">
                                <input name="unitnum" ng-model="unit.unitnum" type= "text" class= "form-control" placeholder="Unitnum" required />
                                <span ng-show="myForm.unitnum.$dirty && myForm.unitnum.$invalid" class="help-inline">Unitnum Required</span>
                            </div>
                        </div>
                        <div  class="form-group" ng-class="{error: myForm.unitid.$invalid}">
                            <label class= "col-md-2">Unitid </label>
                            <div class="col-md-4">
                                <input name="unitid" ng-model="unit.unitid" type= "text" class= "form-control" placeholder="unitid" required />
                                <span ng-show="myForm.unitid.$dirty && myForm.unitid.$invalid" class="help-inline">unitid Required</span>
                            </div>
                        </div>
                        <div  class="form-group" ng-class="{error: myForm.building.$invalid}">
                            <label class= "col-md-2">Building </label>
                            <div class="col-md-4">
                                <input ng-model="unit.building" type= "text" class= "form-control" placeholder= "Building" disabled/>
                            </div>
                        </div>

                        <div class= "form-group">
                            <label class= "col-md-2">Price </label>
                            <div class="col-md-4">
                            <input ng-model="unit.price" type= "text" class= "form-control" placeholder= "Price" />
                            </div>
<!-- 
                            <div class="col-md-3">
                                <a href="#/prices/{{unit.unitid}}" class="btn">Go To Prices</a>
                            </div>
 -->
                        </div>
<!-- 
                        <div class= "form-group">
                            <label class= "col-md-2">Begins </label>
                            <div class="col-md-4">
                            <input ng-model="unit_prices.begin_date" type="date" class="form-control" disabled />
                            </div>
                        </div>
                        <div class= "form-group">
                            <label class= "col-md-2">Ends </label>
                            <div class="col-md-4">
                            <input ng-model="unit_prices.end_date" type="date" class="form-control" disabled />
                            </div>
                        </div>
 -->
                        <div class= "form-group">
                            <label class= "col-md-2">Status </label>
                            <div class="col-md-4">
                            <select ng-model="unit.status" class="form-control" ng-options="item.value as item.value for item in items" ></select>
                            </div>
                        </div>

                        <div class= "form-group">
                            <label class= "col-md-2">Tenent </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                  <input ng-model="unit.tenant" type="text" class="form-control" placeholder="Vacant" aria-describedby="basic-addon2" >
                                  <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-edit" ng-click="editTenant(unit.tenent);"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class= "form-group">
                            <label class= "col-md-2">Type </label>
                            <div class="col-md-4">
                            <select ng-model="unit.type" class="form-control" ng-options="opt.value as opt.value for opt in options" ></select>
                            </div>
                        </div>
                        
                        <div class= "form-group">
                            <label class= "col-md-2">Total Balance Due </label>
                            <div class="col-md-4">
                                <input ng-model="unit.total_bal_due" type= "text" class= "form-control" placeholder= "total_bal_due" disabled/>
                            </div>
                        </div>
                        <div class= "form-group">
                            <label class= "col-md-2"></label>
                            <div class="col-md-4">
                            <a href="/dbpm/#/edit-building-units/{{unit.building_id}}" class="btn">Cancel</a>
                                <button id="save" ng-click="saveUnit(unit, $event);" 
                                        ng-disabled="isClean() || myForm.$invalid"
                                        class="btn btn-primary">Save</button>
                                <button id="add" ng-show="!unit._id" ng-click="saveUnit(unit, $event);" 
                                        ng-disabled="isClean() || myForm.$invalid"
                                        class="btn btn-primary">Save and Add Another</button>
                                <button ng-click="deleteUnit(unit)"
                                        ng-show="unit._id" class="btn btn-warning">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
