<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form role="form" name="myForm" class="form-horizontal">
        <input type="hidden" ng-model="tenant.building_id" name="building_id" id="building_id" />
        <input type="hidden" ng-model="tenant.unit_id" name="unit_id" id="unit_id" />
        <div class="container">
            <div class="row">
                <div class= "form-group" ng-class="{error: myForm.firstname.$invalid}">
                    <label class= "col-md-2"> First Name </label>
                    <div class="col-md-4">
                    <input name="firstname" ng-model="tenant.firstname" type= "text" class= "form-control" placeholder="First Name" required/>
                    <span ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid" class="help-inline">Name Required</span>
                    </div>
                </div>
                <div class= "form-group" ng-class="{error: myForm.lastname.$invalid}">
                    <label class= "col-md-2"> Last Name </label>
                    <div class="col-md-4">
                    <input name="lastname" ng-model="tenant.lastname" type= "text" class= "form-control" placeholder="Last Name" required/>
                    <span ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid" class="help-inline">Name Required</span>
                    </div>
                </div>
            </div>
            <div class= "form-group">
                <label class= "col-md-2"></label>
                <div class="col-md-4">
                <a href="/dbpm/#/edit-building-rents/{{building.building_id}}" class="btn">Cancel</a>
                    <button ng-click="saveRent(rent);" 
                            ng-disabled="isClean() || myForm.$invalid"
                            class="btn btn-primary">{{buttonText}}</button>
                    <button ng-click="deleteRent(rent)"
                            ng-show="rent._id" class="btn btn-warning">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>






