 <div class="row">
    <div class="col-md-12" ng-show="units.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-unit/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new unit</a>
    </div>
    </nav>
    
    <div class="well">
                <h4>Building</h4>
                <div class="col-sm-2 pull-left">
                     <label style="display:initial">Id:</label>   <br/>
                     <label style="display:initial">Code:</label> <br/>
                     <label style="display:initial">Name:</label> <br/>  
                     <label style="display:initial">Owner:</label> <br/>   
                     <label style="display:initial">Units:</label> <br/>  
               </div>
                 <div class="col-sm-2 pull-left">
                      <span>&nbsp;{{building._id}}</span><br/>
                      <span>&nbsp;{{building.code}}</span><br/>
                      <span>&nbsp;{{building.name}}</span><br/>                    
                      <span>&nbsp;{{building.owner}}</span><br/>                    
                      <span>&nbsp;{{building.units}}</span><br/>                    
               </div>
                <div class="col-sm-2 pull-left">
                     <label style="display:initial">Street:</label>   <br/>
                     <label style="display:initial">City:</label> <br/>
                     <label style="display:initial">State:</label> <br/>  
                     <label style="display:initial">Zip:</label> <br/>
                     <label style="display:initial">Inactive</label> <br/>
               </div>
                <div class="col-sm-2 pull-left">
                      <span>&nbsp;{{building.street}}</span><br/>
                      <span>&nbsp;{{building.city}}</span><br/>
                      <span>&nbsp;{{building.state}}</span><br/>  
                      <span>&nbsp;{{building.zip}}</span><br/> 
                      <span>&nbsp;{{building.inactive}}</span><br/>                        
                </div>
    </div>
    
        <table class="table table-striped table-bordered">
        <thead>
        <th>Unit No.&nbsp;</th>
        <th>Current Tenent&nbsp;</th>
        <th>Type&nbsp;</th>
        <th>Status&nbsp;</th>
        <th>Price&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in units">
                <td>{{data.unitnum}}</td>
                <td>{{data.tenent_id}}</td>
                <td>{{data.type}}</td>
                <td>{{data.status}}</td>
                <td>{{data.price}}</td>
                <td><a href="#/edit-unit/{{data.unit_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Unit</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="units.length == 0">
        <div class="col-md-12">
            <h4>No units found</h4>
        </div>
    </div>
</div>