 <div class="row">
    <div class="col-md-12" ng-show="units.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-unit/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new unit</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Unit No.&nbsp;</th>
        <th>Current Tenent&nbsp;</th>
        <th>Type&nbsp;</th>
        <th>Status&nbsp;</th>
        <th>Price&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in units">
                <td>{{data.unitnum}}</td>
                <td>{{data.tenent}}</td>
                <td>{{data.type}}</td>
                <td>{{data.status}}</td>
                <td>{{data.price}}</td>
                <td><a href="#/edit-unit/{{data.unit_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Unit</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="units.length == 0">
        <div class="col-md-12">
            <h4>No units found</h4>
        </div>
    </div>
</div>