<!-- 
<div class="row" >
    <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
            <a class="btn btn-lg btn-success" href="#/edit-building/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Building</a>
        </div>
    </nav>
    <div class="col-md-12" ng-show="buildings.length > 0">    
 -->
<!-- 
            <accordion>
                <accordion-group  ng-repeat="building in buildings" is-open="building.open">
                    <accordion-heading>
                        Name: {{building.name}}
                    </accordion-heading>
                    <accordion>
                        <accordion-group ng-repeat="unit in units" is-open="unit.open"> 
                            <accordion-heading>
                                <a class="btn">{{unit.unit_id}}</a> {{unit.tenant}}
                            </accordion-heading> 
                            <div ng-repeat="rent in rents">
                                {{rent.receipt}}
                            </div>
                       </accordion-group>
                    </accordion>
                </accordion-group>
            </accordion> 
 -->
<!-- 
            <accordion>
                <accordion-group  ng-repeat="building in buildings">
                    <accordion-heading>
                        <span ng-click="getUnitsByBuilding(building.building_id)"><a class="btn">{{building.name}}</a></span>
                    </accordion-heading>
                    <accordion>
                        <accordion-group ng-repeat="unit in units"> 
                            <accordion-heading>
                                <span ng-click="getRentsByUnit(unit.unit_id)"><a class="btn">{{unit.unit_id}}</a> {{unit.tenant}}
                            </accordion-heading> 
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <th>Month</th>
                                    <th>Receipt</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rent in rents | filter: 2011">
                                    <td>{{rent.month}}</td>
                                    <td>{{rent.receipt}}</td>
                                </tr>
                                </tbody>
                            </table>
                       </accordion-group>
                    </accordion>
                </accordion-group>
            </accordion> 
 -->
<!-- 
    </div>
    <div class="col-md-12" ng-show="buildings.length == 0">
        <div class="col-md-12">
            <h4>No buildings found</h4>
        </div>
    </div>
</div>
 -->
<div class="row" >
    <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
                <a class="btn btn-sm btn-success btn-right10" href="#/edit-building/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Building</a>
        </div>
    </nav>
    <div class="col-md-12" ng-show="buildings.length > 0" >    
        <table class="table table-striped table-bordered">
            <thead>
                <th><i class="glyphicon glyphicon-ok"></i></th>
                <th class="hidden-xs">Code&nbsp;</th>
                <th>Name&nbsp;</th>
                <th class="hidden-xs">Owner&nbsp;</th>
                <th>Units&nbsp;</th>
                <th>Action&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in buildings">
                    <td><input type="checkbox" ng-checked="{{data.inactive}}" disabled /></td>
                    <td class="hidden-xs">{{data.code}}</td>
                    <td>{{data.name}}</td>
                    <td class="hidden-xs">{{data.owner}}</td>
                    <td>{{data.units}}</td>
                    <td class="small">
                        <div class="btn-group btn-group-xs">
                            <a href="#/edit-building/{{data.building_id}}" class="btn" title="Edit Building">&nbsp;<i class="glyphicon glyphicon-pencil"></i><span class="hidden-sm hidden-xs">Edit</span></a>
                            <a href="#/edit-building-units/{{data.building_id}}" class="btn" title="Edit Unit">&nbsp;<i class="glyphicon glyphicon-home"></i><span class="hidden-sm hidden-xs">Units</span></a>
                            <a href="#/edit-building-rents/{{data.building_id}}" class="btn" title="Edit Rents">&nbsp;<i class="glyphicon glyphicon-usd"></i><span class="hidden-sm hidden-xs">Rents</span></a>
                            <a href="#/edit-building-tenants/{{data.building_id}}" class="btn" title="Edit tenants">&nbsp;<i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs">tenants</span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="buildings.length == 0">
        <div class="col-md-12">
            <h4>No buildings found</h4>
        </div>
    </div>
</div>
