<div class="row" >
                <h2>Tickets</h2>
    <div class="col-md-12" > 
        <hr class="color"> 
        <table class="table table-striped stripes table-bordered">
            <thead>
                <tr class="bg-orange text-black">
                    <td colspan="10">
                        <div class="pull-left" >
                          <span style="padding:10px 10px" class="title">Edit tickets</span>
                          <label style="padding:10px 50px">
                           <input type="checkbox" ng-model="search.inactive"
                                    ng-true-value="0" ng-false-value="" ng-init="search.inactive='0'">
                                   Show only active tickets
                           </label>  
                        </div>
                        <a class="btn btn-sm btn-primary btn-sm btn-right10" href="#/edit-ticket/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New ticket</a>  
                </td>
                </tr>
                <tr>
 	<th> Ticket Id</th>
	<th> Unitid</th>
	<th> Status</th>
	<th> Age</th>
	<th> Requested by</th>
	<th> Requested on</th>
	<th> Category</th>
	<th> Subject</th>
	<th> Description</th>
	<th> Action</th>
<!-- 
	<th> due on</th>
	<th> estimated cost</th>
	<th> estimated start</th>
	<th> photo</th>
	<th> final cost</th>
	<th> final complete</th>
	<th> ticket notes</th>
	<th> requester email</th>
	<th> requestor phone</th>
	<th> requestor photo</th>
 -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in tickets">
        <td> {{data.ticket_id}}</td>
        <td> {{data.unitid}}</td>
        <td> {{data.status}}</td>
        <td> {{data.age}}</td>
        <td> {{data.requested_by}}</td>
        <td> {{data.requested_on}}</td>
        <td> {{data.category}}</td>
        <td> {{data.subject}}</td>
        <td> {{data.description}}</td>
                    <td class="small">
                        <div class="">
                            <a href="#/edit-ticket/{{data.ticket_id}}" class="btn btn-edit btn-sm" title="Edit ticket">&nbsp;<i class="glyphicon glyphicon-pencil"></i><span class="hidden-sm hidden-xs"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="subtotals">
                <tr><td colspan="10">&nbsp;</td></tr>
            </tfoot>
        </table>
    </div>
</div>
