<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
<!-- 
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "/dbpm/#/edit-building-tenants/{{tenant.building_id}}"><i class="glyphicon glyphicon-th-large"></i> Units List (Building: {{tenant.building_id}})</a>
        <a ng-show="tenant._id" class= "navbar-brand" href= "/dbpm/#/edit-tenant/{{tenant.building_id}}/0"><i class="glyphicon glyphicon-plus"></i> Create tenant </a>
        <a ng-show="tenant._id" class= "hidden-xs navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing tenant Number: {{tenant._id}}</a>
        </div>
        </nav>
 -->
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<input type="hidden" ng-model="tenant.building_id" name="building_id" id="building_id" />
<input type="hidden" ng-model="tenant.unit_id" name="unit_id" id="unit_id" />
<div class="row">
<div class= "form-group" ng -class="{error: myForm.unitnum.$invalid}">
    <label class= "col-md-2"> UnitNum </label>
    <div class="col-md-4">
    <input name="unitnum" ng-model="tenant.unitnum" type= "text" class= "form-control" placeholder="Unit Number" disabled required/>
    <span ng-show="myForm.unitnum.$dirty && myForm.unitnum.$invalid" class="help-inline">Unitnum Required</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.firstname.$invalid}">
    <label class= "col-md-2"> First Name </label>
    <div class="col-md-4">
    <input name="firstname" ng-model="tenant.firstname" type= "text" class= "form-control" placeholder="First Name" required/>
    <span ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.lastname.$invalid}">
    <label class= "col-md-2"> Last Name </label>
    <div class="col-md-4">
    <input name="lastname" ng-model="tenant.lastname" type= "text" class= "form-control" placeholder="Last Name" required/>
    <span ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid" class="help-inline">Name Required</span>
    </div>
</div>
<!-- 
<div class= "form-group" ng-class="{error: myForm.ssn.$invalid}">
    <label class= "col-md-2"> SSN </label>
    <div class="col-md-4">
    <input name="ssn" ng-model="tenant.ssn" type= "text" class= "form-control" placeholder="SSN" />
    <span ng-show="myForm.ssn.$dirty && myForm.ssn.$invalid" class="help-inline">SSN</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.drivers_license.$invalid}">
    <label class= "col-md-2"> Drivers License </label>
    <div class="col-md-4">
    <input name="drivers_license" ng-model="tenant.drivers_license" type= "text" class= "form-control" placeholder="Drivers License" />
    <span ng-show="myForm.drivers_license.$dirty && myForm.drivers_license.$invalid" class="help-inline">Drivers License</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.creditcard.$invalid}">
    <label class= "col-md-2"> Credit Card </label>
    <div class="col-md-4">
    <input name="creditcard" ng-model="tenant.creditcard" type= "text" class= "form-control" placeholder="Credit Card" />
    <span ng-show="myForm.creditcard.$dirty && myForm.creditcard.$invalid" class="help-inline">Credit Card</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.cardnumber.$invalid}">
    <label class= "col-md-2"> Card Number </label>
    <div class="col-md-4">
    <input name="cardnumber" ng-model="tenant.cardnumber" type= "text" class= "form-control" placeholder="Card Number" />
    <span ng-show="myForm.cardnumber.$dirty && myForm.cardnumber.$invalid" class="help-inline">Card Number</span>
    </div>
</div>
 -->
<div class= "form-group" ng-class="{error: myForm.status.$invalid}">
    <label class= "col-md-2"> Status </label>
    <div class="col-md-4">
    <input name="status" ng-model="tenant.status" type= "text" class= "form-control" placeholder="Status" />
    <span ng-show="myForm.status.$dirty && myForm.status.$invalid" class="help-inline">Status</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.deposit_paid.$invalid}">
    <label class= "col-md-2"> Deposit Paid </label>
    <div class="col-md-4">
    <input name="deposit_paid" ng-model="tenant.deposit_paid" type= "text" class= "form-control" placeholder="Deposit Paid" />
    <span ng-show="myForm.deposit_paid.$dirty && myForm.deposit_paid.$invalid" class="help-inline">Deposit Paid</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.firstmo_paid.$invalid}">
    <label class= "col-md-2"> First Month Paid </label>
    <div class="col-md-4">
    <input name="firstmo_paid" ng-model="tenant.firstmo_paid" type= "text" class= "form-control" placeholder="First Month Paid" />
    <span ng-show="myForm.firstmo_paid.$dirty && myForm.firstmo_paid.$invalid" class="help-inline">First Month Paid</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.lastmo_paid.$invalid}">
    <label class= "col-md-2"> Last Month Paid </label>
    <div class="col-md-4">
    <input name="lastmo_paid" ng-model="tenant.lastmo_paid" type= "text" class= "form-control" placeholder="Last Month Paid" />
    <span ng-show="myForm.lastmo_paid.$dirty && myForm.lastmo_paid.$invalid" class="help-inline">Last Month Paid</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.other_paid.$invalid}">
    <label class= "col-md-2"> Other Paid </label>
    <div class="col-md-4">
    <input name="other_paid" ng-model="tenant.other_paid" type= "text" class= "form-control" placeholder="Other Paid" />
    <span ng-show="myForm.other_paid.$dirty && myForm.other_paid.$invalid" class="help-inline">Other Paid</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.balance_due.$invalid}">
    <label class= "col-md-2"> Balance Due </label>
    <div class="col-md-4">
    <input name="balance_due" ng-model="tenant.balance_due" type= "text" class= "form-control" placeholder="Balance Due" />
    <span ng-show="myForm.balance_due.$dirty && myForm.balance_due.$invalid" class="help-inline">Balance Due</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.move_in.$invalid}">
    <label class= "col-md-2"> Move In </label>
    <div class="col-md-4">
    <input name="move_in" ng-model="tenant.move_in" type= "date" class= "form-control" placeholder="Move In" />
    <span ng-show="myForm.move_in.$dirty && myForm.move_in.$invalid" class="help-inline">Move In</span>
    </div>
</div>
<div class= "form-group" ng-class="{error: myForm.move_out.$invalid}">
    <label class= "col-md-2"> Move Out </label>
    <div class="col-md-4">
        <input name="move_out" ng-model="tenant.move_out" type="date" ng-change="moveOut(unit)" class="form-control" placeholder="Move Out"/>
        <span ng-show="myForm.move_out.$dirty && myForm.move_out.$invalid" class="help-inline">Move Out</span>
    </div>
</div>
<!-- 
<div class= "form-group" ng-class="{error: myForm.30_day_notice.$invalid}">
    <label class= "col-md-2"> 30 Day Notice </label>
    <div class="col-md-4">
    <input name="30_day_notice" ng-model="tenant.30_day_notice" type= "date" class= "form-control" placeholder="30 Day Notice" />
    <span ng-show="myForm.30_day_notice.$dirty && myForm.30_day_notice.$invalid" class="help-inline">30 Day Notice</span>
    </div>
</div>
 -->
<!-- 

<script>
   angular.module('dateInputExample', [])
     .controller('DateController', ['$scope', function($scope) {
       $scope.example = {
         value: new Date(2013, 9, 22)
       };
     }]);
</script>
<form name="myForm" ng-controller="DateController as dateCtrl">
   <label for="exampleInput">Pick a date in 2013:</label>
   <input novalidate type="date" id="exampleInput" name="input" ng-model="example.value"
       placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
   <div role="alert">
     <span class="error" ng-show="myForm.input.$error.required">
         Required!</span>
     <span class="error" ng-show="myForm.input.$error.date">
         Not a valid date!</span>
    </div>
    <tt>value = {{example.value | date: "yyyy-MM-dd"}}</tt><br/>
    <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
    <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
</form>

 -->

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="{{cancelText}}" class="btn btn-cancel">Cancel</a>
        <button ng-click="saveTenant(tenant);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-save">{{buttonText}}</button>
        <button ng-click="deleteTenant(tenant._id)"
                ng-show="tenant._id" class="btn btn-delete">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
