<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
  
.table>thead>tr>th{
    vertical-align: middle;
}


</style>
<div class="view">
    <div class="container">
        <div class="row">

<!-- 
            <nav class= "navbar navbar-default hidden-xs" role="navigation">
                <div class="navbar-header" style="padding:5px" >
                    <a class= "navbar-brand" href= "/dbpm/#/buildings"><i class="glyphicon glyphicon-th-large"></i> Buildings List </a>
                    <a ng-show="building._id" class= "navbar-brand hidden" href= "#/edit-building/0"><i class="glyphicon glyphicon-plus"></i> Add Building </a>
                    <a class= "navbar-brand pull-right" href= "#/edit-building-rents/{{building._id}}"><i class="glyphicon glyphicon-th-large"></i> Rents </a>
                </div>
            </nav>
 -->
            <header>
                <h4 ng-controller="DropdownCtrl">                
                    <span class="dropdown" dropdown on-toggle="toggled(open)">
                        <a href class="dropdown-toggle" dropdown-toggle>Building<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="choice in list">
                                <a href="#/edit-building-units/{{choice.id}}">{{choice.name}}</a>
                            </li>
                        </ul>
                    </span>
                </h4>
                <div class="col-sm-2 pull-left">
                     <strong style="display:initial">Id:</strong> <br/>
                     <strong style="display:initial">Code:</strong> <br/>
                     <strong style="display:initial">Name:</strong> <br/>  
                     <strong style="display:initial">Owner:</strong> <br/>   
                     <strong style="display:initial">Units:</strong> <br/>  
               </div>
                 <div class="col-sm-4 pull-left">
                      <span style="display:initial">&nbsp;{{building.building_id}}</span><br/>
                      <span style="display:initial">&nbsp;{{building.code}}</span><br/>
                      <span style="display:initial">&nbsp;{{building.name}}</span><br/>                    
                      <span style="display:initial">&nbsp;{{building.owner}}</span><br/>                    
                      <span style="display:initial">&nbsp;{{building.units}}</span><br/>                    
               </div>
                <div class="col-sm-2 pull-left">
                     <strong style="display:initial">Street:</strong>   <br/>
                     <strong style="display:initial">City:</strong> <br/>
                     <strong style="display:initial">State:</strong> <br/>  
                     <strong style="display:initial">Zip:</strong> <br/>
                     <strong style="display:initial">Inactive</strong> <br/>
               </div>
                <div class="col-sm-4 pull-left">
                      <span>&nbsp;{{building.street}}</span><br/>
                      <span>&nbsp;{{building.city}}</span><br/>
                      <span>&nbsp;{{building.state}}</span><br/>  
                      <span>&nbsp;{{building.zip}}</span><br/> 
                      <span>&nbsp;{{building.inactive}}</span><br/>                        
                </div>
             </header>
        </div>
                <hr />
                <tabset ng-init="tab.active = true">
                    <tab heading="Rents" select="switchToRents(building.building_id)"></tab>
                    <tab heading="Units" active="tab.active">
                <div class="row" style="padding:10px">
                    <strong class="col-md-4 pull-left strong">
                        <p>{{title}}</p>
                    </strong>
                    <span class="pull-right col-md-4">
                        <a style="padding:inherit" class="btn btn-link" href="#/edit-unit/{{building.building_id}}/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Unit</a>
                    </span>
                </div>
                    <div class="row" ng-controller="ModalTenantCtrl">
                        <div class="col-md-12" ng-show="units.length > 0">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <th>Unit No.&nbsp;</th>
                                    <th>Current Tenant&nbsp;</th>
                                    <th>Type&nbsp;</th>
                                    <th>Status&nbsp;</th>
                                    <th>Move Out&nbsp;</th>
                                    <th><span style="">Price&nbsp;</style>
                                        <form class="pull-right" editable-form name="priceform" onaftersave="saveColumn('price')" ng-show="priceform.$visible">
                                          <button type="submit" ng-disabled="priceform.$waiting" class="btn btn-primary btn-xs">
                                           <i class="glyphicon glyphicon-ok"></i>
                                          </button>
                                          <button type="button" ng-disabled="priceform.$waiting" ng-click="priceform.$cancel()" class="btn btn-default btn-xs">
                                            <i class="glyphicon glyphicon-remove"></i>
                                          </button>
                                        </form> 
                                           <button class="btn btn-primary btn-xs" ng-show="!priceform.$visible" ng-click="priceform.$show()">
                                                Edit
                                          </button>
                                    </th>                 
                   <th>Action&nbsp;</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in units track by $index">
                                        <td>{{data.unit_id}}</td>
                                        <td ng-show="data.tenant"><a ng-click="open(data)" class="btn btn-link" title="Edit Tenant"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;{{data.tenant}}</a></td>
                                        <td ng-hide="data.tenant"><a ng-click="open(data)" class="btn btn-link" title="Add Tenant"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Vacant</a></td>
                                        <td>{{data.type}}</td>
                                        <td>{{data.status}}</td>
                                        <td>{{data.move_out}}</td>  
                                        <td class="pull-right">
                                            <span editable-text="data.price" e-name="price" e-form="priceform" buttons="no" onbeforesave="updateUnitPrice($data, data)">
                                                {{ data.price || 'empty' }}
                                            </span>
                                        </td>

<!-- 
                                        <td><a class="btn btn-link" editable-text="data.price" onbeforesave="updateUnitPrice($data, data)"  buttons="no">{{ data.price || '...' }}</a></td>
 -->
                          
                                        <td> 
                                            <a href="#/edit-unit/{{building.building_id}}/{{data.unit_id}}" class="btn" title="Edit Unit" tabindex="-1">&nbsp;<i class="glyphicon glyphicon-edit"></i><span class="hidden-xs">&nbsp; Edit Unit</span></a>
                                            <a href="#/edit-building-units/{{building.building_id}}" class="btn" title="Delete Unit" ng-click="deleteUnit(data)" tabindex="-1">&nbsp;<i class="glyphicon glyphicon-remove-circle"></i><span class="hidden-xs">&nbsp; Delete Unit</span></a>
                                            <a href="#/edit-unit-rents/{{building.building_id}}/{{data.unit_id}}" tabindex="-1"><i class="glyphicon glyphicon-list-alt" title="Report" ></i>&nbsp;Report</a>
                                        </td>
                                    </tr>
                                </tbody>
                            <tfoot>
                                <tr align="right">
                                    <td colspan="5" >Subtotals:</td>
                                    <td>{{(units | sumByKey:'price' | currency)}}</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            </table>
                            </div>
                        <div class="col-md-12" ng-show="units.length == 0">
                            <div class="col-md-12">
                                <h4>No units found</h4>
                            </div>
                        </div>
                    </div>
                    </tab>
                    <tab heading="Tenants" select="switchToTenants(building.building_id)"></tab>
                </tabset>
        </div>
        
</div>
