<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
  
</style>
<div class="view">
    <div class="container">
<!-- 
        <div class="row">
            <nav class= "navbar navbar-default  hidden-xs" role= "navigation" >
                <div class= "navbar-header" >
                    <a class= "navbar-brand" href= "/dbpm/#/edit-building-units/{{unit.building_id}}"><i class="glyphicon glyphicon-th-large"></i> Units List </a>
                    <a ng-show="unit._id" class= "navbar-brand" href= "/dbpm/#/edit-unit/{{unit.building_id}}/0"><i class="glyphicon glyphicon-plus"></i> Create Unit </a>
                    <a ng-show="unit._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Unit Number: {{unit._id}}</a>
                </div>
            </nav>
            <div class="col-md-12">
                <div class="clearfix"></div>
 -->
        <header>
                <div class="col-sm-2 pull-left" ng-controller="ModalSearchCtrl" ng-click="open(unit)">
                     <strong style="display:initial">Building</strong> <br/>
                     <strong style="display:initial">Unit Number:</strong> <br/>
                     <strong style="display:initial">Tenant:</strong> <br/>
               </div>
                 <div class="col-sm-4 pull-left" ng-controller="ModalSearchCtrl" ng-click="open(unit)">
                      <span style="display:initial"><a>&nbsp;{{unit.building}}</a></span><br/>
                      <span style="display:initial"><a>&nbsp;{{unit.unitnum}}</a></span><br/>
                      <span style="display:initial">&nbsp;{{unit.tenant}}</span><br/>                      
                </div>
                <div class="col-sm-2 pull-left">
                     <strong style="display:initial">Type:</strong><br/>
                     <strong style="display:initial">Status:</strong><br/>
                    <strong style="display:initial">Current Price:</strong> <br/>  
              </div>
                <div class="col-sm-4 pull-left">
                      <span>&nbsp;{{unit.type}}</span><br/>
                      <span>&nbsp;{{unit.status}}</span><br/>
                      <span>&nbsp;{{unit.price}}</span><br/>
                </div>
         </header>
         <div class="clearfix"></div>
         <hr class="color" />
         <br/>
                <div class="row">
                    <div class="col-md-12" >
                        <table class="table table-striped stripes table-bordered">
                            <thead>
                                <tr class="btn-warning">
                                    <th colspan="7" style="padding-left:10px">
                                        Date Range : From <input style="color:#333" class="input-sm" type="date" name="d1" ng-model="d1"/> To <input style="color:#333" class="input-sm" type="date" name="d2" ng-model='d2'/> <a class="btn btn-primary btn-sm" ng-click="loadRents()">Go</a>
                                    </th>
                                    <th colspan="3" style="vertical-align:middle;padding-left:10px">
                                        Since: {{age[0].first}} - {{age[0].last}}
                                    </th>
                                </tr>
                                <tr> 
                                <th>Unit&nbsp;</th>
                                <th>Month&nbsp;</th>
                                <th>Tenant</th>
                                <th>Move In</th>
                                <th>Move Out</th>
                                <th>Date&nbsp;</th>
                                <th>Rent Owed&nbsp;</th>
                                <th>Rent Paid&nbsp;</th>
                                <th>Rent Due&nbsp;</th>                                
                                <th>Action&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in rents | filter: year.value ">
                                    <td>{{data.unitid}}</td>
                                    <td>{{data.month}}</td>
                                    <td>{{data.tenant}}</td>
                                    <td>{{data.move_in}}</td>
                                    <td>{{data.move_out}}</td>
                                    <td>{{data.date_paid | date:'M/d/y'}}</td>
                                    <td align="right">{{data.rent_owed | currency}}</td>
                                    <td align="right">{{data.rent_paid | currency}}</td>
                                    <td align="right">{{data.due_this_mo | currency}}</td>
                                    <td><a href="#/edit-unit-rent/{{unit.building_id}}/{{data.unit_id}}/{{data.rent_id}}" class="btn btn-edit btn-sm" title="Edit Receipt">&nbsp;<i class="glyphicon glyphicon-edit"></i><span class="hidden-xs"></span></a></td>
                                    
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="subtotals" align="right">
                                    <td class="text-left" colspan="1" ><a href="/dbpm/#/edit-building-units/{{unit.building_id}}" class="btn btn-return btn-sm">Return</a></td>
                                    <td colspan="5" >Subtotals:</td>
                                    <td>{{(rents | filter: month.value +'/' + year.value) | sumByKey:'rent_owed' | currency}}</td>
                                    <td>{{(rents | filter: month.value +'/' + year.value) | sumByKey:'rent_paid' | currency}}</td>
                                    <td>{{(rents | filter: month.value +'/' + year.value) | sumByKey:'due_this_mo' | currency}}</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
